<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
			http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd"
			default-autowire="byName">
			
	<!-- 扫service包 -->
	<context:component-scan base-package="com.blog.service"></context:component-scan>

	<!-- 加载配置文件 -->
	<bean  class="com.blog.core.des.EncryptPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:conf/*.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- Spring 工具类 -->
	<bean id="springContextUtil" class="com.blog.util.method.SpringContextUtil" scope="singleton" />
	
	<import resource="context-datasource.xml"/>
	<import resource="context-redis.xml"/>
	<import resource="context-kaptcha.xml"/>
	<import resource="context-timer.xml"/>
	<import resource="contxt-log.xml"/>
	
</beans>